<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop
		https://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
		
<!-- Enable @AspectJ annotation support  -->
<aop:aspectj-autoproxy/>
		
<bean name="triangle" class="org.himansi.aop.model.Triangle">
	<property name="name" value="Triangle name"/>
</bean>

<bean name="circle" class="org.himansi.aop.model.Circle">
	<property name="name" value="Circle name"/>
</bean>

<bean name="shapeService" class="org.himansi.aop.service.ShapeService" autowire="byName" />

<bean name="loggingAspect" class="org.himansi.aop.aspect.LoggingAspect" />

<bean name="loggingXMLAspect" class="org.himansi.aop.aspect.LoggingXMLAspect"  />



<aop:config>

	<aop:aspect id="loggingXMLAspect" ref="loggingXMLAspect">
		<aop:pointcut expression="execution(* get*())" id="allGetters"/>
		<aop:around method="annotationAroundAdvice" pointcut-ref="allGetters"/> <!-- <aop:around method="annotationAroundAdvice" pointcut="execution(* get*())"/> -->
		<aop:pointcut expression="@annotation(org.himansi.aop.aspect.Loggable)" id="loggable"/>
		<aop:around method="onLoggable" pointcut-ref="loggable"/>
		
	</aop:aspect>

</aop:config>

	
</beans>